@import '@/style/common';
#search-input{
    position:relative;width:215px;height:28px;margin:13px;
    .icon-shousuo{
        position: absolute;top:7px;left:8px;z-index:2000;
        color:#ABAAA9;font-size:14px;
    }
    .icon-guanbi{
        position: absolute;top:6px;left:196px;z-index:2000;
        color:#ABAAA9;cursor:pointer;background:#ccc;
        border-radius:50%;display:block;height:16px;width:16px;
        font-size:13px;text-align:center;line-height:18px;color:#fff;
    }
	.el-input{
		.el-input__inner{
			font-size:12px;
		}
	}
}